{% block custom-css %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-between">
   <a class="navbar-brand mb-1 h1" href="{% url 'index' %}">ganjapp</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon">(current)</span>
   </button>


   <div class="collapse navbar-collapse" id="navbarText">
	<ul class="navbar-nav mr-auto">

	   <li class="nav-item">
		<a class="nav-link" href="{% url 'logout' %}"><i class="fa
		fa-sign-out"></i>

		   <li class="nav-item">
			<a class="nav-link" href="{% url 'shop_home' %}"><i
			     class="fa fas fa-shopping-cart"></i> shop <span
	  class="sr-only"></span>
			</a>
		   </li>				<li class="nav-item">
			<a class="nav-link" href="{% url 'dispensaries' %}"><i
			     class="fa fa-w fas fa-joint"></i>dispensaries <span
	  class="sr-only"></span></a>

		   </li>

	   </li>

	</ul>
   </div>
   <form class="form-inline">
	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
</nav>


{% endblock navbar %}
