{% extends 'index.html' %}
{% load static %}

{% block page-title %}
<title>Dispensaries</title>
{% endblock page-title %}
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-between">
   <a class="navbar-brand mb-1 h1">ganjapp</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
   </button>



   {% block navbar %}

   <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
   <div class="collapse navbar-collapse" id="navbarText">
	<ul class="navbar-nav mr-auto">
	   <li class="nav-item">
		<a class="nav-link" href="{% url 'shop_home' %}"><i
			    class="fa fas fa-shopping-cart"></i> shop <span
	 class="sr-only"></span>
		</a>
	   </li>

	   <li class="nav-item active">
		<a class="nav-link" href="{% url 'dispensaries' %}"><i
			    class="fas fa-cannabis"></i>dispensaries <span
	 class="sr-only">(current)</span></a>
	   </li>

	   </li>
	</ul>
   </div>



   {% endblock navbar %}

   {% block content %}
   <div class="container">
	<div class="row">
	   <div class="col-md-3"></div>
	   <div class="col-md-6">
		<h3 class="display-3 mb-3"> Dispensaries</h3>
	   </div>
	   <div class="col-md-3"></div>
	   {% endblock content %}
